<div *ngIf="images && images.length > 0" class="carousel-container">
  <div *ngFor="let image of images; let i = index">
    <!-- 
    <img
      [src]="image.imageSrc"
      [alt]="image.imageAlt"
      [ngClass]="{ 'image-active': selectedIndex === i }"
      class="fades"
    /> -->
    <div
      ngClass="{ 'image-active': selectedIndex === i }"
      [ngClass]="{
        'image-active': selectedIndex === i,
        'carousel-img-position': selectedIndex === 0
      }"
      [style.backgroundImage]="backgroundImage"
      style="
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
      "
      class="fades"
    ></div>
    <div
      class="fades"
      [ngClass]="selectedIndex === 2 ? 'text-carousel-third' : 'text-carousel'"
    >
      <div
        class="title-carousel"
        [ngClass]="{ 'image-active': selectedIndex === i }"
      >
        {{ selectedIndex === i ? image.title : "" }}
      </div>
      <div class="caption-carousel">
        {{ selectedIndex === i ? image.caption : "" }}
      </div>
      <a
        [href]="image.link"
        class="btn btn-lg btn-primary"
        *ngIf="selectedIndex === i"
        appScrollAdjust
        [appScrollAdjust]="'30'"
      >
        {{ image.buttonLabel }}
      </a>
    </div>
  </div>

  <div class="carousel-pause-container">
    <div class="pause-button" (click)="toggleSlidePause()">
      <i class="fas" [ngClass]="pauseButton ? 'fa-play' : 'fa-pause'"></i>
    </div>
  </div>
  <div *ngIf="indicators" class="carousel-dot-container">
    <span
      *ngFor="let dot of images; let i = index"
      class="dot"
      [ngClass]="{ active: selectedIndex === i }"
      (click)="selectImg(i)"
    ></span>
  </div>

  <button
    *ngIf="controls"
    class="btn-carousel btn-prev"
    (click)="onPrevClick()"
  >
    <i class="fas fa-arrow-circle-left icon-carousel icon-prev"></i>
  </button>

  <button
    *ngIf="controls"
    class="btn-carousel btn-next"
    (click)="onNextClick()"
  >
    <i class="fas fa-arrow-circle-right icon-carousel icon-next"></i>
  </button>
</div>
