<div class="about">
  <div class="section-heading">
    <h2>ABOUT ME</h2>
    <p>A great beginning to know me</p>
    <hr />
  </div>
  <div class="section-content">
    <p>
      With over 15 years of professional experience in Application Development,
      Design, and the Digital Space, I have successfully collaborated with
      start-ups and Fortune 500 companies, providing strategic design insights
      and innovative web and mobile application development.
    </p>
    <p>
      My expertise encompasses robust technical skills, including a mastery of
      front-end frameworks and JS libraries and RESTful APIs for web application
      development. I am adept at tailoring front-end platforms for various
      devices, encompassing Desktop, Responsive, iOS, and Android environments.
    </p>
    <p>
      Experience in measurement solution and implementation of tagging scripts
      and rollout of analytics software solutions, Test & Target, Report
      Builder, Floodlight/Spotlight tagging, and Audience Manager.
    </p>
    <p>
      Furthermore, my skill set extends to UI and Graphic Design tools enabling
      me to craft visually compelling and engaging interfaces, prototyping,
      branding and other marketing initiatives.
    </p>
    <p>
      Extensive experience working with stakeholder in gathering business
      requirements and developing project artifacts such as user stories,
      acceptance criteria, training documents, analytics, quality assurance and
      various project management support through the project life cycle.
    </p>
  </div>
</div>
