<!-- CONTACT -->
<div class="section-heading">
  <h2>GET IN TOUCH</h2>
  <!-- <p>Now it's time to build a business and relationship</p> -->
  <!-- <hr /> -->
</div>
<div class="row contact text-center">
  <div class="col-md-4">
    <div class="d-md-inline-flex text-sm-center">
      <div class="contact-icons">
        <i class="fa-brands fa-linkedin-in"></i>
      </div>
      <div>
        <!-- <h3>Address</h3> -->
        <p>
          <a
            href="https://www.linkedin.com/in/yousufsadikot

          "
            target="_blank"
            >Yousuf Sadikot</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="d-md-inline-flex">
      <div class="contact-icons">
        <i class="fa fa-phone"></i>
      </div>
      <div>
        <!-- <h3>Phone</h3> -->
        <p>647-500-0679</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="d-md-inline-flex">
      <div class="contact-icons">
        <i class="fa fa-envelope"></i>
      </div>
      <div>
        <!-- <h3>Email</h3> -->
        <p>
          <a href="mailto:yousufsadikot@gmail.com"
            >yousufsadikot&#64;gmail.com</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
